.root {
  li {
    display: inline-block;
    text-align: content;
    width: 40px;
    line-height: 38px;
    height: 40px;
    border: 1px solid #fe5f1e;
    border-radius: 20px;

    a {
      display: inline-block;
    }
  }
}
