.root {
  li {
    display: inline-block;
  }

  a {
    text-align: center;
    width: 45px;
    line-height: 42px;
    height: 45px;
    border: 1px solid #fe5f1e;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      background-color: gold;
      a {
        color: rgb(255, 255, 255);
      }
    }
  }
}
